  <div class="bg-light py-5" style="min-height: 500px">
  <div class="container">
    <nav aria-label="breadcrumb"> 
      <ol class="breadcrumb bg-transparent mb-0">
        <li class="breadcrumb-item">
          <a class="text-success" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item">
          <a class="text-success" [routerLink]="['/culturas']" routerLinkActive="router-link-active" >Culturas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fitopatologias {{cultura.nome.toLowerCase()}}</li>
      </ol>
    </nav>
    <div *ngIf="!falhaNaApi && !culturaDesativada" class="card mb-5 shadow-sm bg-dark text-white py-5 text-center">
      <div class="card-body">
        <h2 class="card-title font-weight-bold">{{cultura.nome}}</h2>
        <p class="card-text">{{cultura.descricao}}</p>
      </div>
    </div>
    <div *ngIf="culturaDesativada">
      <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading font-weight-bold">Cultura desativada.</h4>
        <p>O conteúdo encontra-se desativado no momento. Provavelmente o administrador de conteúdo esta atualizando os dados para melhor informa-lo.</p>
        <hr>
        <p class="mb-0">Volte na aba anterior para conhecer mais 
          <a [routerLink]="['/culturas']" class="text-success" routerLinkActive="router-link-active" >Culturas.</a></p>
      </div>
    </div>
    <div *ngIf="falhaNaApi">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading font-weight-bold">Conteúdo não encontrado.</h4>
        <p>Aparentemente não consiguimos carregar o conteúdo por não existir ou por alguma falha do servidor. Tente reiniciar a pagina, e caso o problema persistir, entre em contato com nossa equipe.</p>
        <hr>
        <p class="mb-0">Equipe Fitopédia.</p>
      </div>
    </div>
    <div *ngIf="doencas.length == 0 && !falhaNaApi && !culturaDesativada">
      <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading font-weight-bold">Fitopatologias não encontradas.</h4>
        <p>Aparentemente essa cultura não tem nenhuma doença cadastrada. Provavelmente as fitopatologias estão desativadas pelo adiministrador ou os seus dados estão sendo atualiazdos.</p>
        <hr>
        <p class="mb-0">Volte a pagina de 
          <a [routerLink]="['/culturas']" class="text-success" routerLinkActive="router-link-active" > culturas</a> e continue navegando em nossa plataforma.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div *ngFor="let doenca of doencas" class="card mb-3 mx-2 shadow-sm" style="width: 20rem;">
        <div class="card-header bg-dark text-white">{{doenca.nome_comum}}</div>
        <div class="card-body text-dark">
          <h5 class="card-title">{{doenca.nome_cientifico}}</h5> 
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div class="text-right">
            <span *ngIf="doenca.tipo.substring(0, 1).toUpperCase() == 'F'" class="badge badge-danger ml-1">Fungo</span>
            <span *ngIf="doenca.tipo.substring(0, 1).toUpperCase() == 'V'" class="badge badge-warning ml-1">Vírus</span>
            <span *ngIf="doenca.tipo.substring(0, 1).toUpperCase() == 'B'" class="badge badge-dark ml-1">Bactéria</span>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="row">
            <div class="btn-group mx-auto">
              <button 
                class="btn btn-success" 
                type="button"
                [routerLink]="['/fito', id_cultura, doenca.id_doenca]" routerLinkActive="router-link-active" 
                >Visualisar</button>
              <button 
                *ngIf="usuario"
                class="btn btn-outline-success" 
                type="button"
                [routerLink]="['/editar-fitopatologia', doenca.id_doenca]" routerLinkActive="router-link-active"
                >Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
