<div class="bg-light py-5">
  <div class="container text-center">
    <div class="py-3 my-5 shadow bg-white border rounded d-inline-block col-lg-6">
      <div>
        <img class="mx-auto mt-3 featurette-image img-fluid" src="../../../../assets/imagens/min-logo.png" alt="Logo fitopedia">
      </div>
      <h4 class="mb-3 font-weight-bold">Cadastro de cultura</h4>
      <form
        class="text-left"
        [formGroup]="cadastroForm"
        (ngSubmit)="cadastrarCultura()"
        >
        <label class="font-weight-bold" for="nomef">Nome da cultura</label>
        <div class="form-group">
          <input 
            type="text"
            id="nomef"
            class="form-control"
            placeholder="Ex: Café Arabica"
            formControlName="nome"
            (blur)="falhaNaApi = false && culturaJaCadastrada = false"
            >
            <small class="text-danger" *ngIf="form.nome.invalid && form.nome.touched">É necessário inserir um nome para a cultura.</small>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="descricaof">Descrição</label>
          <textarea 
            type="text" 
            class="form-control"
            id="descricaof"
            rows="2"
            formControlName="descricao"
            placeholder="Uma breve descrição a respeito da cultura">
          </textarea>
          <small *ngIf="form.descricao.invalid && form.descricao.touched" class="text-danger">É necessario inserir algum texto a respeito da cultura.</small>
          <div class="form-group" class="mt-3">
            <label class="font-weight-bold" for="imagemf">Imagem da cultura</label><br>
            <input 
              type="file"
              id="imagemf"
              (change)="onFileChange($event)"
              accept="image/*"><br> 
            <small>A imagem deve conter no máximo 5mb.</small>
            <div *ngIf="sucessoCadastro" class="mt-2 alert alert-success alert-dismissible fade show text-center" role="alert">
              <strong>Sucesso!</strong> Cultura cadastrada com sucesso.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="falhaNaApi" class="mt-2 alert alert-danger alert-dismissible fade show text-center" role="alert">
              <strong>Ops, problemas!</strong> Ocorreu um erro inesperado, entre em contato com a equipe Fitopédia.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="culturaJaCadastrada" class="mt-2 alert alert-warning alert-dismissible fade show text-center" role="alert">
              <strong>Cultura já cadastrada!</strong> Já temos uma cultura cadastrada com esse nome.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="row justify-content-center">
              <button
                type="submit"
                class="btn btn-success btn-lg mt-3 mx-1"
                [disabled]="loading || this.cadastroForm.invalid"
                >Registrar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>