<div class="container-fluid">
  <div class="row my-5 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
      <div style="max-width: 200px;max-height: 200px" class="mx-auto">
          <img src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5b7ec1fed1522f4223f12295/804ab146043c0e81dee5c23dd44a49bf/logo-fitopedia.png" class="featurette-image img-fluid mx-auto" alt="logo">
      </div>
      <div class="row">
        <form 
          class="col-lg-8 col-md-8 col-sm-10 col-12 mx-auto"
          [formGroup]="loginForm"
          (ngSubmit)="realizarLogin()"
          >
          <div class="form-group">
            <input 
              type="email" 
              class="form-control" 
              placeholder="Email"
              formControlName="email"
              (blur)="falhaNaAutenticacao = false && contaDesativada = false && falhaNaApi = false"
              >
              <small *ngIf="form.email.invalid && form.email.touched" style="color: red" class="form-text">É necessario inserir um email válido.</small>
          </div>
          <div class="form-group">
            <input 
              type="password" 
              class="form-control" 
              placeholder="Senha"
              formControlName="senha"
              (blur)="falhaNaAutenticacao = false && falhaNaApi = false"
              >
              <small *ngIf="form.senha.invalid && form.senha.touched" style="color: red" class="form-text">A senha precisa ter no mínimo 6 digitos.</small>
          </div>
          <div *ngIf="contaDesativada" class="alert alert-dark alert-dismissible fade show" role="alert">
            <strong>Conta desativada!</strong> Não é possível acessar a plataforma com essa conta.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="falhaNaAutenticacao" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Falha na autenticação!</strong> Verifique os dados inseridos e tente novamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="falhaNaApi" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ops, problemas!</strong> Ocorreu um erro inesperado, entre em contato com a equipe Fitopédia.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="row form-group">
            <button
              [disabled]="this.loginForm.invalid || loading" 
              type="submit"
              class="btn btn-success btn-lg mx-auto"
              >Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>