<div class="bg-light py-5">
  <div class="container text-center">
    <div class="py-3 my-5 shadow bg-white border rounded d-inline-block col-lg-6 ">
      <div>
        <img class="mx-auto my-3 featurette-image img-fluid" src="../../../../assets/imagens/min-logo.png" alt="Logo fitopedia">
      </div>
      <form 
        class="text-left"
        [formGroup]="editarForm"
        (ngSubmit)="atualizarDados()"
        >
        <label class="font-weight-bold">Opcional 
          <span 
            class="align-middle badge badge-pill badge-primary" 
            tabindex="0" 
            data-toggle="tooltip" 
            title="Preencha somente os campos que você deseja atualizar.">?
          </span>
        </label>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            placeholder="{{usuario.nome}}"
            formControlName="nome"
            (blur)="checarNome()"
            >
            <small *ngIf="nomeInvalido" class="text-danger">Seu nome deve ser no mínimo Iam (3 digitos).</small>
        </div>
        <div class="form-group">
          <input 
            type="email" 
            class="form-control" 
            placeholder="{{usuario.email}}"
            formControlName="email"
            (blur)="checarEmail() && emailJaCadastrado = false"
            >
            <small *ngIf="emailInvalido" class="text-danger">Você precisa inserir um e-mail válido.</small>
        </div>
        <div class="form-group">
          <input 
            type="password" 
            class="form-control" 
            placeholder="Nova senha"
            formControlName="senha_nova"
            (blur)="checarSenha('senha_nova')"
            >
            <small *ngIf="senhaNovaInvalida" class="text-danger">Sua senha deve ter pelo menos 6 dígitos.</small>
        </div>
        <div class="form-group">
          <input 
            type="password" 
            class="form-control" 
            placeholder="Repetir senha"
            formControlName="senha_novaRep"
            (blur)="checarSenha('senha_novaRep')"
            >
            <small *ngIf="senhaNovaInvalida" class="text-danger">Sua senha deve ter pelo menos 6 dígitos.</small>
        </div>
        <hr class="mb-3">
        <label class="font-weight-bold">Obrigatório
          <span 
            class="align-middle badge badge-pill badge-primary" 
            tabindex="0" 
            data-toggle="tooltip" 
            title="Qualquer modificação na conta exige a senha atual.">?
          </span>         
        </label>
        <div class="form-group">
          <input 
            type="password" 
            class="form-control" 
            placeholder="Senha atual"
            formControlName="senha_antiga"
            (blur)="senhaInvalida = false && senhaErrada = false"
            >
            <small 
              *ngIf="senhaInvalida" 
              class="text-danger">Senha incorreta.</small>
        </div>
        <div *ngIf="falhaNaApi" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
          <strong>Ops, problemas!</strong> Ocorreu um erro inesperado, entre em contato com a equipe Fitopédia.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="senhasDivergindo" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
          <strong>Senhas divergindo!</strong> Verifique sua nova senha inseridas e tente novamente.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="senhaErrada" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
          <strong>Essa não é a sua senha!</strong> Você deve colocar a sua senha atual corretamente.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="emailJaCadastrado" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
          <strong>Email já cadastrado!</strong> Impossível utilizar esse email, tente com outro.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="dadosAtualizadosComSucesso" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
          <strong>Dados atualizados!</strong> No proximo login seus dados estarão completamente atualizados.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row justify-content-center">
          <button 
            type="submit" 
            class="btn btn-success btn-lg mx-1"
            [disabled]="loading || this.editarForm.invalid"
            >Atualizar
          </button>
          <button 
            class="btn btn-outline-success btn-lg mx-1"
            type="button" data-toggle="modal" data-target="#modalDesativar"
            >Desativar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDesativar" tabindex="-1" role="dialog" aria-labelledby="modalDesativarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDesativarTitle">Desativar conta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #fecharModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ao desativar a conta ela ficara indiponível para qualquer interação com a plataforma. Tem certeza que deseja continuar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" (click)="desativarConta()">Continuar</button>
      </div>
    </div>
  </div>
</div>