<div class="bg-light py-5">
  <div class="container text-center">
    <div class="py-5 my-5 shadow bg-white border rounded d-inline-block col-lg-6">
      <div>
        <img class="mx-auto mt-3 featurette-image img-fluid" src="../../../../assets/imagens/min-logo.png" alt="Logo fitopedia">
      </div>
      <h4 class="mb-3 font-weight-bold">Cadastro de fitopatologia</h4>
      <form 
        class="text-left"
        [formGroup]="cadastroForm"
        (ngSubmit)="cadastrarFito()"
        >
        <label class="font-weight-bold" for="idculturaf">Código da cultura (Obrigatório)</label>
        <div class="form-group">
          <input 
            type="text"
            id="idculturaf"
            class="form-control"
            placeholder="Ex: 2"
            formControlName="id_cultura"
            (blur)="falhaNaApi = false"
            >
          <small class="text-danger" *ngIf="form.id_cultura.invalid && form.id_cultura.touched">É necessário inserir o código da cultura.</small>
        </div>
        <label class="font-weight-bold" for="nomecomumf">Nome comum (Obrigatório)</label>
        <div class="form-group">
          <input 
            type="text"
            id="nomecomumf"
            class="form-control"
            placeholder="Ex: Ferrugem"
            formControlName="nome_comum"
            (blur)="falhaNaApi = false"
            >
          <small class="text-danger" *ngIf="form.nome_comum.invalid && form.nome_comum.touched">É necessário inserir um nome comum.</small>
        </div>
        <label class="font-weight-bold" for="nomecientificof">Nome científico (Obrigatório)</label>
        <div class="form-group">
          <input 
            type="text"
            id="nomecientificof"
            class="form-control"
            placeholder="Ex: Phakopsora pachyrhizi"
            formControlName="nome_cientifico"
            (blur)="falhaNaApi = false && fitoJaCadastrada = false"
            >
          <small class="text-danger" *ngIf="form.nome_cientifico.invalid && form.nome_cientifico.touched">É necessário inserir um nome cientifico.</small>
        </div>
        <label class="font-weight-bold" for="tipof">Tipo de doença (Obrigatório)</label>
        <div class="form-group">
          <select 
            id="tipof"
            class="form-control" 
            formControlName="bfv">
            <option [ngValue]="'Bacteria'">Bactéria</option>
            <option [ngValue]="'Fungo'">Fungo</option>
            <option [ngValue]="'Virus'">Vírus</option>
          </select>
        </div>
        <label class="font-weight-bold" for="nomesexuadof">Nome sexuado</label>
        <div class="form-group">
          <input 
            type="text"
            id="nomesexuadof"
            class="form-control"
            placeholder="Insira aqui o nome sexuado da fitopatologia"
            formControlName="nome_sexuado"
            >
        </div>
        <label class="font-weight-bold" for="nomeassexuadof">Nome assexuado</label>
        <div class="form-group">
          <input 
            type="text"
            id="nomeassexuadof"
            class="form-control"
            placeholder="Insira aqui o nome sexuado da fitopatologia"
            formControlName="nome_assexuado"
            >
        </div>
        <label class="font-weight-bold" for="sintomasf">Sintomas</label>
        <div class="form-group">
          <textarea 
            type="text"
            rows="2"
            id="sintomasf"
            class="form-control"
            placeholder="Sintomas da doença"
            formControlName="sintomas"
            >
          </textarea>
        </div>
        <label class="font-weight-bold" for="umidadef">Umidade</label>
        <div class="form-group">
          <input 
            type="text"
            id="umidadef"
            class="form-control"
            placeholder="Umidade natural da fitopatologia"
            formControlName="umidade"
            >
        </div>
        <label class="font-weight-bold" for="meriodomolhamentof">Período de molhamento</label>
        <div class="form-group">
          <input 
            type="text"
            id="meriodomolhamentof"
            class="form-control"
            placeholder="Periodo de molhamento crítico da doença"
            formControlName="periodo_molhamento"
            >
        </div>
        <label class="font-weight-bold" for="temperaturaf">Temperatura</label>
        <div class="form-group">
          <input 
            type="text"
            id="temperaturaf"
            class="form-control"
            placeholder="Insiria a temperatura crítica da planta"
            formControlName="temperatura"
            >
        </div>
        <label class="font-weight-bold" for="agenteetiologicof">Agente etiológico</label>
        <div class="form-group">
          <input 
            type="text"
            id="agenteetiologicof"
            class="form-control"
            placeholder="Insira aqui o nome sexuado da fitopatologia"
            formControlName="agente_etiologico"
            >
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="imagemf">Imagem da doença (Obrigatório)</label><br>
          <input 
            type="file"
            id="imagemf"
            (change)="onFileChange($event)"
            accept="image/*"
            ><br>
          <small>A imagem deve ter no máximo 5mb</small>
        </div>
        <div *ngIf="sucessoCadastro" class="mt-2 alert alert-success alert-dismissible fade show text-center" role="alert">
          <strong>Sucesso!</strong> fitopatologia cadastrada com sucesso.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="falhaNaApi" class="mt-2 alert alert-danger alert-dismissible fade show text-center" role="alert">
          <strong>Ops, problemas!</strong> Ocorreu um erro inesperado, entre em contato com a equipe Fitopédia.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="fitoJaCadastrada" class="mt-2 alert alert-warning alert-dismissible fade show text-center" role="alert">
          <strong>fitopatologia já cadastrada!</strong> Já temos uma fitopatologia cadastrada com esse nome científico.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row justify-content-center">
          <button
            type="submit"
            class="btn btn-success btn-lg mt-3 mx-1"
            [disabled]="loading || this.cadastroForm.invalid"
            >Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>