<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">
    <img src="../../../assets/imagens/logo-simples.png" width="60" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/culturas']" routerLinkActive="router-link-active" >Culturas<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/fitopatologias']" routerLinkActive="router-link-active" >Fitopatologias</a>
      </li> -->
    </ul>
    <ul *ngIf="!usuario" class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        </li>
        <li class="nav-item active mr-3">
          <a class="nav-link" [routerLink]="['/registrar']" routerLinkActive="router-link-active">Registrar</a>
        </li>
    </ul>
    <ul *ngIf="usuario" class="navbar-nav">
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle mr-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [innerText]="usuario.nome + ' '">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <h6 class="dropdown-header">Fitopédia</h6>
          <a class="dropdown-item" [routerLink]="['/nova-cultura']" routerLinkActive="router-link-active" >Cadastrar cultura</a>
          <a class="dropdown-item" [routerLink]="['/nova-fitopatologia']" routerLinkActive="router-link-active" >Cadastrar fitopatologia</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Minha conta</h6>
          <a class="dropdown-item" [routerLink]="['/editar-usuario']" routerLinkActive="router-link-active" >Atualizar dados</a>
          <a class="dropdown-item" (click)="realizarLogoff()">Sair</a>
        </div>
      </div>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Barra de pesquisa" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
    </form> -->
  </div>
</nav>