<div class="jumbotron jumbotron-fluid m-0" style="background-color: white">
  <div class="container text-center py-5">
    <h3 class="display-4">Culturas</h3>
    <h6 class="lead ">Você pode conhecer as culturas que temos cadastradas em nossa plataforma. Estamos trabalhando duro para trazer os melhores e mais atualizados conteúdos para o seu conhecimento.</h6>
  </div>
</div>
<div class="bg-light">
  <div class="container py-5" style="min-height: 500px">
    <div class="row justify-content-center">
      <div *ngFor="let cultura of culturas" class="card mb-3 mx-2 shadow-sm" style="max-width: 26rem;">
        <img class="card-img-top mx-auto" style="max-height: 320px" src="{{cultura.icone}}" alt="Card image cap">
        <hr class="my-0">
        <div class="card-body text-dark">
          <h3 class="card-title font-weight-bold">{{cultura.nome}}</h3> 
          <p class="card-text">{{cultura.descricao}}</p>
        </div>
        <div class="card-footer bg-transparent">
          <div class="row">
            <div class="btn-group mx-auto">
              <button 
                class="btn btn-success" 
                type="button"
                [routerLink]="['/fitopatologias/', cultura.id_cultura]" routerLinkActive="router-link-active" 
                >Visualisar</button>
              <button
                *ngIf="usuario" 
                class="btn btn-outline-success" 
                type="button"
                [routerLink]="['/editar-cultura/', cultura.id_cultura]" routerLinkActive="router-link-active"
                >Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="culturas.length == 0 || falhaNaApi">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading font-weight-bold">Conteúdo não encontrado.</h4>
        <p>Aparentemente não consiguimos carregar o conteúdo por não existir ou por alguma falha do servidor. Tente reiniciar a pagina, e caso o problema persistir, entre em contato com nossa equipe.</p>
        <hr>
        <p class="mb-0">Equipe Fitopédia.</p>
      </div>
    </div>
  </div>
</div>