<div class="container-fluid">
    <div class="row my-5 justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div style="max-width: 200px;max-height: 200px" class="mx-auto">
                <img src="https://trello-attachments.s3.amazonaws.com/5b7da8491d0f9707413819ad/5b7ec1fed1522f4223f12295/804ab146043c0e81dee5c23dd44a49bf/logo-fitopedia.png" class="featurette-image img-fluid mx-auto" alt="logo">
            </div>
            <div class="row">
                <form 
                    class="col-lg-8 col-md-8 col-sm-10 col-12 mx-auto"
                    [formGroup]="cadastroForm"
                    (ngSubmit)="realizarCadastro()"
                    >
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Nome"
                            formControlName="nome"
                            >
                    </div>
                    <div class="form-group">
                        <input 
                            type="email" 
                            class="form-control" 
                            placeholder="Email"
                            formControlName="email"
                            (blur)="emailJaCadastrado = false && falhaNaApi = false"
                            >
                            <small *ngIf="form.email.invalid && form.email.touched" style="color: red" class="form-text">É necessario inserir um email válido.</small>
                    </div>
                    <div class="form-group">
                        <input 
                            type="password" 
                            class="form-control" 
                            placeholder="Senha"
                            formControlName="senha"
                            (blur)="senhasDivergindo = false && falhaNaApi = false && emailJaCadastrado = false"
                            >
                            <small *ngIf="form.senha.invalid && form.senha.touched" style="color: red" class="form-text">A senha precisa ter no mínimo 6 digitos.</small>
                    </div>
                    <div class="form-group">
                        <input 
                            type="password" 
                            class="form-control" 
                            placeholder="Repitir senha"
                            formControlName="senhaRep"
                            (blur)="senhasDivergindo = false && falhaNaApi = false"
                            >
                            <small *ngIf="form.senhaRep.invalid && form.senhaRep.touched" style="color: red" class="form-text">A senha precisa ter no mínimo 6 digitos.</small>
                    </div>
                    <div *ngIf="senhasDivergindo" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Senhas divergindo!</strong> Verifique as senhas inseridas e tente novamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="sucessoCadastro" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Sucesso!</strong> Iremos realizar o login automatico em alguns segundos.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="emailJaCadastrado" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Email já cadastrado!</strong> Não é possível utilizar esse email, tente com algum outro.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="falhaNaApi" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ops, problemas!</strong> Ocorreu um erro inesperado, entre em contato com a equipe Fitopédia.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <button 
                            type="submit" 
                            class="btn btn-success btn-lg mx-auto"
                            [disabled]="this.cadastroForm.invalid || loading"
                            >Cadastrar-se
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>